/ colors: ['#434348', '#f7a35c', '#90ed7d'],

div class='row'
  div class='col-md-6'
    div id='guber-party'
  div class='col-md-6'
    div id='legislature-party'

div class='row'

javascript:
    var state_guber = JSON.parse("#{state_guber}".replace(/&quot;/g, '"').replace(/amp;/g, '')),
        state_legislature = JSON.parse("#{state_legislature}".replace(/&quot;/g, '"').replace(/amp;/g, '')),
        ng_all = JSON.parse("#{ng_all}".replace(/&quot;/g, '"').replace(/amp;/g, ''));

    $(function () {
        $('#guber-party').highcharts('Map', {
            chart: {
                spacingBottom: 20
            },
            title : {
                text : 'Executive control of the states'
            },
            subtitle : {
                text : 'As of May 2016'
            },
            legend: {
                enabled: true
            },
            plotOptions: {
                map: {
                    allAreas: false,
                    joinBy: ['name', 'code'],
                    dataLabels: {
                        enabled: true,
                        color: '#FFFFFF',
                        format: '{point.code}',
                        style: {
                            fontWeight: 'bold'
                        }
                    },
                    mapData: ng_all,
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.name}: <b>{point.governor} ({series.name})</b>'
                    }
                }
            },
            series : state_guber
        });
    });

    $(function () {
        $('#legislature-party').highcharts('Map', {
            chart: {
                spacingBottom: 20
            },
            title : {
                text : 'Legislative control of the states (Simple majority rule)'
            },
            subtitle : {
                text : 'As of May 2016'
            },
            legend: {
                enabled: true
            },
            plotOptions: {
                map: {
                    allAreas: false,
                    joinBy: ['name', 'code'],
                    dataLabels: {
                        enabled: true,
                        color: '#FFFFFF',
                        format: '{point.code}',
                        style: {
                            fontWeight: 'bold'
                        }
                    },
                    mapData: ng_all,
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.name}: <b>{series.name}</b>'
                    }
                }
            },
            series : state_legislature
        });
    });
